@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@300&display=swap');

body{
    background-color: var(--clr-primary);
    color: var(--clr-gray);
    font-family: 'Gantari', sans-serif;
}