:root{
    --clr-primary: #2a2e33;
    --clr-secondary: #32383e;
    --clr-black: #1c1e22;
    --clr-blue: #49acff;

    //font color
    --clr-gray: #aaa;
    --clr-lg-gray: #7a8288;
    --clr-white: #ffff;
}